<aside class="main-sidebar dark-bg">

	<section class="sidebar">
		<div class="user-panel black-bg">
			<div class="pull-left image"> <img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="img-circle" alt="User Image"> </div>
			<div class="pull-left info">
				<p>Florence Douglas</p>
				<a href="#"><i class="fa fa-circle"></i> Online</a>
			</div>
		</div>
		<!-- Sidebar Menu -->
		<ul class="sidebar-menu" data-widget="tree">
			<li class="header dark-bg">Menu</li>
			<li>
				<a href="/">
					<i class="fa-brands fa-qq"></i>
					Kullacı Anasayfa
				</a>
			</li>
			<li>
				<a asp-area="Admin"
				   asp-controller="Category"
					asp-action="Index" >
					<i class="fa fa-th"></i>
					Kategoriler
				</a>
			</li>
			<li>
				<a asp-area="Admin"
				   asp-controller="Product"
				   asp-action="ProductListWithCategory">
					<i class="fa fa-car"></i>
					Ürünler
				</a>
			</li>
			<li>
				<a asp-area="Admin"
				   asp-controller="FeatureSlider"
				   asp-action="Index">
					<i class="fa fa-cubes"></i>
					Slider
				</a>
			</li>
			
			<li>
				<a asp-area="Admin"
				   asp-controller="GeneralSpecialOffer"
				   asp-action="Index">
					<i class="fa fa-car"></i>
					Genel Ürün Kuponları
				</a>
			</li> 
			<li>
				<a asp-area="Admin"
				   asp-controller="DailySpecialOffer"
				   asp-action="Index">
					<i class="fa fa-car"></i>
					Günlük Ürün Kuponları
				</a>
			</li> 
			<li>
				<a asp-area="Admin"
				   asp-controller="OfferDiscount"
				   asp-action="Index">
					<i class="fa fa-car"></i>
					İndirimli Ürünler
				</a>
			</li> 
			<li>
				<a asp-area="Admin"
				   asp-controller="Brand"
				   asp-action="Index">
					<i class="fa fa-car"></i>
					Markalar
				</a>
			</li> 
			<li>
				<a asp-area="Admin"
				   asp-controller="About"
				   asp-action="Index">
					<i class="fa fa-car"></i>
					Hakkımızda
				</a>
			</li> 
			<li><a asp-area="Admin" asp-controller="Comment" asp-action="Index"> <i class="fa fa-car"></i>Yorumlar</a></li> 
			<li><a asp-area="Admin" asp-controller="User" asp-action="UserList"> <i class="fa fa-car"></i>Kullanıcı Listesi</a></li> 
			<li><a asp-area="Admin" asp-controller="Comment" asp-action="Index"> <i class="fa fa-car"></i>Sipariş Listesi</a></li> 
			<li><a asp-area="Admin" asp-controller="Comment" asp-action="Index"> <i class="fa fa-car"></i>Kasa Bilgileri</a></li> 
			<li><a asp-area="Admin" asp-controller="Comment" asp-action="Index"> <i class="fa fa-car"></i>İstatislikler</a></li> 
			<li><a asp-area="Admin" asp-controller="Cargo" asp-action="CargoCompanyList"> <i class="fa fa-car"></i>Kargo</a></li> 
			<li><a asp-area="Admin" asp-controller="Comment" asp-action="Index"> <i class="fa fa-car"></i>İndirimler</a></li> 
			<li><a asp-area="Admin" asp-controller="Comment" asp-action="Index"> <i class="fa fa-car"></i>görseller</a></li> 
			<li><a asp-area="Admin" asp-controller="Comment" asp-action="Index"> <i class="fa fa-car"></i>Mesajlar</a></li> 
			<li><a asp-area="Admin" asp-controller="Comment" asp-action="Index"> <i class="fa fa-car"></i>Ayarlar</a></li> 
			<li><a asp-area="Admin" asp-controller="Comment" asp-action="Index"> <i class="fa fa-car"></i>Çıkış Yap</a></li> 
		</ul>
		<!-- sidebar-menu -->
	</section>
</aside>