

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
	<div class="container">
		<br />
		<h3>Ankara hava durumu:@ViewBag.CityTemp</h3>
	</div>

    </body>
</html>

