@using Udemy.DtoLayer.CatalogDtos.CategoryDtos
@model List<ResultCategoryDto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deneme</title>
</head>
<body>
    @foreach (var item in Model)
    {
       <p>@item.CategoryName</p>
       <p>@item.CategoryId</p>
    }
    <br />
</body>
</html>
