@using Udemy.DtoLayer.CatalogDtos.OfferDiscountDto
@model CreateOfferDiscountDto

@{
    ViewData["Title"] = "Create OfferDiscount";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Offer Discount Ekleme sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Offer Discount Başlığı</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Offer Discount Alt Başlığı</label>
                        <input type="text" class="form-control" asp-for="Subtitle" />
                        <br />
                        <label>Offer Discount Buton Başlığı</label>
                        <input type="text" class="form-control" asp-for="ButtonTitle" />
                        <br />
                        <label>Offer Discount Resim URL</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-primary">Offer Discount Ekle</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

